<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles//modules.css">
    <link rel="stylesheet" href="styles//reset.css">
  </head>
  <body>
      <header>
          <nav>
              <a href="/">Home</a>
              <a href="/search">Random Meals</a>
              <a href="/saved">favorite</a>
              <a href="">About us</a>
          </nav>
      </header>
      <main>
          <div>
              <img src="https://cdn.dribbble.com/users/215588/screenshots/909046/oops.png">
          </div>
      </main>
  </body>
</html>