<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>fooDiy</title>	
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Lobster|Pacifico|Sacramento&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/ahmadstyle.css">
    </head>
    <body>
        <header>
            <div class="container">
                <a href="/" class="logo">foo<span>D</span>yi</a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/saved">Favourites</a></li>
                    <li><a href="/">Random meals</a></li>
                    <li><a href="/">About Us</a></li>
                </ul>
            </div>
        </header>
        <div class="error404">
            <img src="https://symbanservices.com/wp-content/uploads/2017/10/404-error-donut.png">
            <!-- <img src="https://i.pinimg.com/originals/2c/ce/1b/2cce1bc012c36fe662947e213a28807b.jpg"> -->
        </div>
        <div class="clear"></div>
        <!-- copyright section -->
        <footer>
            <div class="container">
                    <p>Copyright © 2019</p>
                    <p>This website created with love by<br> Ahmad, Fatima, Nassem, Dania</p>
            </div>
        </footer>
        <!-- JAVASCRIPT JS FILES -->	
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>		
        <script src="js/custom.js"></script>
    </body>
</html>