<!DOCTYPE html>
<html>
<head>
   
    <title>Document</title>
</head>
<body>
    <form action="/meals" method="post">
        <input type="text" name="meal" >
        <button>click</button>
    </form>
    <!-- <script src="server.js"></script> -->
</body>
</html>