<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>fooDIY</title>	
		<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Lobster|Pacifico|Sacramento&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/ahmadstyle.css">
	</head>
	<body>
		<!-- navigation section -->
		<header>
				<div class="container">
						<a href="/" class="logo">foo<span>D</span>IY</a>
						<ul>
								<li><a href="/" >Home</a></li>
								<li><a href="/saved" >Favourites</a></li>
								<li><a href="/search">Random meals</a></li>
						</ul>
				</div>
		</header>
		<!-- home section -->
		<section id="home">
				<div class="overlay"></div>
				<div class="container">
						<h1>fooDIY</h1>
						<h2>How can I Meal You?</h2>
						<form  action="/meals" method="post">
								<input type="text" name="meal" placeholder="Fill in ingredient ..." required><br>
								<button>Go</button>
						</form>
				</div>
		</section>
		<div class="clear"></div>
		<!-- copyright section -->
		<footer>
				<div class="container">
						<p>Copyright © 2019</p>
						<p>This website created with love by<br> Ahmad, Fatima, Nassem, Dania</p>
				</div>
		</footer>
		<!-- JAVASCRIPT JS FILES -->	
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>		
		<script src="/js/custom.js"></script>
	</body>
</html>