<!DOCTYPE html>
<html lang="en">
  <head>
    <title>show</title>
    <link rel="stylesheet" href="../../styles/base.css">
  </head>
  <body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="">Random Meals</a>
            <a href="/saved">favorite</a>
            <a href="">About us</a>
        </nav>
    </header>
    <main>
        <h4>Meals Result</h4>
        <% mealsArray.forEach(meal => { %>
        <div data_id="<%= meal.id %>">
            <img src="<%= meal.imageurl %>">
            <p><%= meal.mealsname %></p>
            <form action="/details" method="post" >
                <input type="hidden" name="id" value='<%= meal.id %>'>
                <button>Select this Meal</button>
            </form>
        </div>
        <% }); %>     
    </main>
  </body>
</html>