<!DOCTYPE html>
<html>
<head>
   
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/search">Random Meals</a>
            <a href="/saved">favorite</a>
            <a href="">About us</a>
        </nav>
    </header>
    <main>
        <form action="/newmeals" method="post">
            <input type="text" name="newmeal" >
            <button>searching by country </button>
        </form>
    </main>
</body>
</html>